<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pick" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Pick</name>
    <js-module name="Pick" src="www/Pick.js">
        <clobbers target="window.plugins.Pick" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Pick">
                <param name="android-package" value="com.llzc.pick.Pick" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Pick.java" target-dir="src/com/llzc/pick/Pick" />
        <source-file src="src/android/WheelView.java" target-dir="src/com/llzc/pick/WheelView" />
        <source-file src="src/android/Library/res/layout/wheel_view.xml" target-dir="res/layout/" />
        <source-file src="src/android/Library/res/drawable/transpant_bg.xml" target-dir="res/drawable/" />
        <source-file src="src/android/Library/res/values/color.xml" target-dir="res/values/" />
        <source-file src="src/android/Library/res/values/style.xml" target-dir="res/values/" />
    </platform>
</plugin>
